********************************************************************
*                                                                  *
* DRILL TAPE SUMMARY REPORT                                        *
*                                                                  *
* D:\UTENTI\00.LAVORI IN CORSO\METALTRONICA\23-326-0\23-326-0.MAX  *
* Fri Nov 03 17:16:22 2023                                         *
*                                                                  *
********************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       70       200      100                                                                                 
T2       118      8        200      100                                                                                 
T3       315      4        200      100                                                                                 
T4       354      16       200      100                                                                                 
T5       433      9        200      100                                                                                 
T6       472      8        200      100                                                                                 
T7       630      5        200      100                                                                                 
T8       1850     4        200      100                                                                                 
